* {
  box-sizing: border-box;
}

html, * {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
  font-weight: 400;
}

.wrapper {
  width: 1700px;
  max-width: 90%;
  margin: 0 auto;
}
